{% extends "header.html" %}
{% block content %}
        <!--################### About Us Starts Here #######################--->

        <div id="about" class="about-company">
                <div class="container">
                    <div class="row">
                       <div class="col-md-6">
                         <div class="detail">
                             <h3>About Company</h3>
							                              <p>We are bunch of programmers with an hope of helping everyone to learn coding.We set this website with a vision of bringing new learners to interact with professionals in meeting.We are working to provide training from Software development, Cyber Security,Network Administration, Ethical Hacking and so much more. We are trying to grow into new domains.</p>
                         <p>Creativity,Worldwide,Unique Styles It's the ability to think outside the box. We are trying to build a bridge between real world work and student, so the training could be more realistic.</p>
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="imag">
                             <img src="static/images/about1.jpg" alt="">
                         </div>
                     </div> 
                    </div>
                </div>
                 
             </div>
			 
			<div id="about" class="about-company">
                <div class="container">
                    <div class="row">

                       <div class="col-md-6">
                         <div class="detail">
                             <h3>About Videos</h3>
							                              <p>We are bunch of programmers with an hope of helping everyone to learn coding.We set this website with a vision of bringing new learners to interact with professionals in meeting.We are working to provide training from Software development, Cyber Security,Network Administration, Ethical Hacking and so much more. We are trying to grow into new domains.</p>
                         <p>Creativity,Worldwide,Unique Styles It's the ability to think outside the box. We are trying to build a bridge between real world work and student, so the training could be more realistic.</p>
                         </div>
                     </div>
                                          <div class="col-md-6">
                         <div class="imag">
                             <img src="static/images/about1.jpg" alt="">
                         </div>
                     </div> 
                    </div>
                </div>
                 
             </div>
		        <div id="about" class="about-company">
                <div class="container">
                    <div class="row">
                       <div class="col-md-6">
                         <div class="detail">
                             <h3>About Us</h3>
							                              <p>We are bunch of programmers with an hope of helping everyone to learn coding.We set this website with a vision of bringing new learners to interact with professionals in meeting.We are working to provide training from Software development, Cyber Security,Network Administration, Ethical Hacking and so much more. We are trying to grow into new domains.</p>
                         <p>Creativity,Worldwide,Unique Styles It's the ability to think outside the box. We are trying to build a bridge between real world work and student, so the training could be more realistic.</p>
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="imag">
                             <img src="static/images/about.jpg" alt="">
                         </div>
                     </div> 
                    </div>
                </div>
                 
             </div>
{% endblock content%}