{% extends "header.html" %}

{% block content %}

        <!--####################### Latest Videos Starts Here ###################-->
  
        <div class="latest-video latest-video container-fluid">
            <div class="container">
                <div class="row video-title no-margin">
                    <h6>
                        <i class="fas fa-book-open" style='color:blue'></i>
                        VTU Engineering Videos</h6>
                </div>
                <div class="video-row row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="video-card">
                                <a href="single.html">
                            <img src="static/images/course/course.jpg" alt="">

                            <div class="row details no-margin">
                                <h6>Chemistry, Scientific discipline involved with elements and compounds composed of atoms</h6>

                            </div>
							<h5 style="color:blue;">Modules</h5><hr>
									<div class="toolti">
										<button class="button1">1</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>
									<div class="toolti">
										<button class="button1">2</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">3</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">4</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
											<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">5</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">6</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>
									<hr>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="video-card">
                                <a href="single.html">
                            <img src="static/images/course/course.jpg" alt="">

                            <div class="row details no-margin">
                                <h6>Physics, Natural science based on experiments, measurements and mathematical analysis</h6>
        
                            </div>
								<h5 style="color:blue;">Modules</h5><hr>
									<div class="toolti">
										<button class="button1">1</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>
									<div class="toolti">
										<button class="button1">2</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">3</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">4</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
											<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">5</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">6</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>
									<hr>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="video-card">
                                <a href="single.html">
                            <img src="static/images/course/course.jpg" alt="">

                            <div class="row details no-margin">
                                <h6>Biology, Natural science that studies life and living organisms, measurements analysis</h6>
                            </div>
								<h5 style="color:blue;">Modules</h5><hr>
									<div class="toolti">
										<button class="button1">1</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>
									<div class="toolti">
										<button class="button1">2</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">3</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">4</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
											<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">5</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">6</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>
									<hr>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                            <a href="single.html">
                        <div class="video-card">
                            <img src="static/images/course/course.jpg" alt="">

                            <div class="row details no-margin">
                                <h6>Maths, Science that deals with the logic of shape, quantity and arrangement</h6>
                           
                            </div>
									<h5 style="color:blue;">Modules</h5><hr>
									<div class="toolti">
										<button class="button1">1</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>
									<div class="toolti">
										<button class="button1">2</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">3</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">4</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
											<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">5</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">6</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>
									<hr>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--####################### Latest Videos Starts Here ###################-->
        <div class="latest-video latest-video container-fluid">
            <div class="container">
                <div class="row no-margin video-title">
                    <h6>
                        <i class="fas fa-book-open" style='color:blue'></i>
                        VTU M.Tech Videos</h6>
                </div>
                <div class="video-row row">
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="single.html">
                        <div class="video-card">
                            <img src="static/images/course/course.jpg" alt="">

                            <div class="row details no-margin">
                                <h6>Maths, Science that deals with the logic of shape, quantity and arrangement</h6>
      
                            </div>
							<h5 style="color:blue;">Modules</h5><hr>
									<div class="toolti">
										<button class="button1">1</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>
									<div class="toolti">
										<button class="button1">2</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">3</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">4</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
											<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">5</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">6</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>
									<hr>

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                            <a href="single.html">
                        <div class="video-card">
                            <img src="static/images/course/course.jpg" alt="">

                            <div class="row details no-margin">
                                <h6>Biology, Natural science that studies life and living organisms and compounds of atoms.</h6>
         
                            </div>
								<h5 style="color:blue;">Modules</h5><hr>
									<div class="toolti">
										<button class="button1">1</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>
									<div class="toolti">
										<button class="button1">2</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">3</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">4</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
											<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">5</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">6</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>
									<hr>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                            <a href="single.html">
                        <div class="video-card">
                            <img src="static/images/course/course.jpg" alt="">

                            <div class="row details no-margin">
                                <h6>Chemistry, Scientific discipline involved with elements and compounds composed of atoms.</h6>

                            </div>
								<h5 style="color:blue;">Modules</h5><hr>
									<div class="toolti">
										<button class="button1">1</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>
									<div class="toolti">
										<button class="button1">2</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">3</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">4</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
											<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">5</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">6</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>
									<hr>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                            <a href="single.html">
                        <div class="video-card">
                            <img src="static/images/course/course.jpg" alt="">

                            <div class="row details no-margin">
                                <h6>Chemistry, Scientific discipline involved with elements and compounds composed of atoms.</h6>

                            </div>
								<h5 style="color:blue;">Modules</h5><hr>
									<div class="toolti">
										<button class="button1">1</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>
									<div class="toolti">
										<button class="button1">2</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">3</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
																						<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">4</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
											<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">5</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>									
									<div class="toolti">
										<button class="button1">6</button>
									    <div class="bottom">
											<h3>Maths,Science</h3>
												<p>Maths, Science that deals with the logic of shape, quantity and arrangement.Maths, Science that deals with the logic of shape, quantity and arrangement</p>
												<i></i>
										</div>
									</div>
									<hr>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>



        <!--Styles -->
        
<style>
  .button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
.toolti {
    display:inline-block;
    position:relative;
}

.toolti h3 {margin:12px 0;}

.toolti .bottom {
    min-width:200px;
    /*max-width:400px;*/
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:20px;
    color:#666666;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.toolti:hover .bottom {
    display:block;
}

.toolti .bottom img {
    width:400px;
}

.toolti .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.toolti .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}


</style>

{% endblock content%}