
<div *ngIf='forgot_psswd_form' class="pass" fxLayout="column"  fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center stretch" class="card">
        <h2 class="h2">Find Your Account</h2>
        <hr class="new1">
        <h6 class="h6"> Please enter your Email address, we will send you an otp for your registered email.  </h6> 
        <mat-form-field class="example-full-width">
            <mat-label>Email address...</mat-label>
            <input matInput placeholder="Email" type='email' [(ngModel)]='email'>
        </mat-form-field>
        <br>
        <mat-hint>{{suc_sent_mail}}</mat-hint>
        <br>
        <button class="rec-but" mat-raised-button color="primary" (click)="verify()">Send</button>


        <div *ngIf='forgt_otp_form'>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
        <mat-hint>{{otp_err}}</mat-hint>
        <button class="rec-but" mat-raised-button color="primary" (click)="verify_frgt_otp()">Verify</button>
    </div>

    <!-- form to enter password -->
    <div *ngIf='reset_form'>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type='password' [(ngModel)]='psswd'>
    </mat-form-field><mat-form-field class="example-full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput placeholder="Confirm Password" type='password' [(ngModel)]='cpsswd'>
    </mat-form-field>
    <mat-hint>{{psswd_text}}</mat-hint>
    <button class="rec-but" mat-raised-button color="primary" (click)="reset_pasword()">Change Password</button>
</div>
    </mat-card>  
</div>





<div *ngIf='verify_otp_form' class="pass" fxLayout="column"  fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center stretch" class="card">
       
        <hr class="new1">
        <h6 class="h6"> Welcome to ClassFLy , wish you good luck with our community. </h6> 
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
               
            <button class="rec-but" mat-raised-button color="primary" (click)="verify_otp()">Verify</button>
    </mat-card>  
</div>



<div *ngIf='login_otp_form' class="pass" fxLayout="column"  fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center stretch" class="card">
       
        <hr class="new1">
        <h6 class="h6"> Welcome to ClassFLy , wish you good luck with our community. </h6> 
        <mat-form-field class="example-full-width">
            <mat-label>Enter email or username</mat-label>
            <input matInput placeholder="Email" type='email' [(ngModel)]='username_email'>
            <mat-hint>{{u_e_error}}</mat-hint>
        </mat-form-field>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
        <mat-hint>{{otp_error}}</mat-hint>
            <button class="rec-but" mat-raised-button color="primary" (click)="verify_login_otp()">Verify</button>
            <br><br><br>
            <h6>If you haven't recieved email OTP </h6>
            <h6>Enter your email or username </h6>
            <button class="rec-but" mat-raised-button color="primary" (click)="resend_otp()">Rsend OTP</button>
    </mat-card>  
</div>
