
<div fxLayout="column"  fxLayoutAlign="center center" style="  
overflow-y:scroll; 
position:relative;
height: 500px;" *ngIf='bookclasslist'>
	<div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 500px;">
	  

			<br>
			<h2 class="h2">About Class</h2>
			<h6 class="h6"> ClassFly lets you buy the classes and helps to customize the classes right away!
 
			</h6>
            <hr>
            <!-- <a href="/profile"><h6 class="details">Verified trainer profile</h6></a> -->

                    <div class="grid-container" *ngIf='resp'> 
                        <mat-card style="left: 13px;" >
                            <div class="grid-item2">
                                    <!-- <a href="/profile"> -->
                                         <img  src="{{resp.imgurl}}" width="60" height="60">
                                     <!-- </a> -->
                            </div>
        
                            <div class="grid-item3">
                                <div class="grid-item4"><small >{{resp.username}}</small></div>
                                <!-- <div class="grid-item4"><small>Infoysys</small></div> -->
                                <!-- <div class="grid-item4"><small>Developer</small></div> -->
                            </div>
                        </mat-card>
                            <mat-card style="left:13px" class="grid-item2">
                                    <div class="desc">
                                            <h6 style="margin-top: 16px; ">Language :{{resp.lang}}</h6>
                                               <h6> No of followers :{{resp.nofoll}}</h6>
                                                <!-- <h6>Rank : 7th</h6> -->
                                                <h6>Rating : {{resp.rating}}</h6>
                                                <h6>Price : {{resp.price}} coins</h6>
                                                <h6>Skills :{{resp.skills}}</h6>
                                                <h6>Follow:           
                                                    <a  class="link">       
                                                    <img  src="assets/img/linktxt.png" (click)='openlink(resp.link)' alt="">
                                                    Click here
                                                   </a></h6>
                                                </div>
                                                

                            </mat-card>
                            <mat-card>
                                <h4>Working at {{resp.company}} as {{resp.designation}}</h4>
                                <h4>Description:</h4>
                                <p>{{resp.dscp}}</p></mat-card>
                                <mat-card>
                                <h4>Graduted from {{resp.college}} with {{resp.stream}} {{resp.degree}}</h4>
                            </mat-card>
                            <br>
                            <h5>Number of reviews:{{resp.review_count}}</h5>
                            <br>
                            <h5  *ngIf='resp.review_count != 0'>Reviews</h5>
                            <br>
                            <mat-card >
                                <h6 *ngFor="let item of resp.feedback">{{item.user}} : {{item.feedback}}</h6>
                            </mat-card>
                            <button (click)='get_class_hours()'>Book Meeting</button>
                            </div>
                    <hr>
                    <!-- <div>
                        <h6>{{resp.dscp}}</h6>
                        <h3>Reviews </h3>
                        <p *ngIf="resp.review_count == 0" >{{resp.review_count}} No Reviews Yet</p>
                       <div *ngIf="resp.review_count != 0">
                        <div *ngFor="let item of  resp.feedback">
                            <p>{{item.user}}: {{item.feedback}}</p>
                        </div>
                    </div>
                    </div> -->
                    <br>

	</div>
    </div>
  

    <div fxLayout="column"  fxLayoutAlign="center center" style="overflow: auto" *ngIf='bookclass'>
        <div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 500px;">
            <h2 class="h2">About Class</h2>
                <mat-card style="  
                overflow-y:scroll; 
                position:relative;
                height: 500px;">
                    <h3>Monday</h3>
                   <mat-card *ngFor="let item of class_timings.MON">
                        <p>{{tConvert(item) }}</p> 
                        <button mat-card (click)='book("MON",item)'>Book</button>
                   </mat-card>
                   <h3>Tuesday</h3>
                   <mat-card *ngFor="let item of class_timings.TUE">
                        <p>{{tConvert(item)}}</p>
                        <button mat-card (click)='book("TUE",item)'>Book</button>
                  </mat-card>
                  <h3>Wednesday</h3>
                    <mat-card *ngFor="let item of class_timings.WED">
                        <p>{{tConvert(item)}}</p>
                        <button mat-card (click)='book("WED",item)'>Book</button>
                    </mat-card>
                    <h3>Thursday</h3>
                    <mat-card *ngFor="let item of class_timings.THU">
                            <p>{{tConvert(item)}}</p>
                            <button mat-card (click)='book("THU",item)'>Book</button>
                        </mat-card>
                    <h3>Friday</h3>
                    <mat-card *ngFor="let item of class_timings.FRI">
                            <p>{{tConvert(item)}}</p>
                            <button mat-card (click)='book("FRI",item)'>Book</button>
                    </mat-card>
                    <h3>Saturday</h3>
                    <mat-card *ngFor="let item of class_timings.SAT">
                            <p>{{tConvert(item)}}</p>
                            <button mat-card (click)='book("SAT",item)'>Book</button>
                        </mat-card>
                </mat-card>
            </div>
        </div>


    <div fxLayout="column"  fxLayoutAlign="center center" style="overflow: auto" *ngIf='bookclassdetail'>
        <div class="card" fxLayout="column" fxLayoutAlign="center stretch" style="width: 500px;">
      <h3>
          Person:<p>{{trnr_dtls.first_name}}  {{trnr_dtls.last_name}}</p>
          <p>Company: {{trnr_dtls.company}} </p>
          <p>Designation: {{trnr_dtls.designation}} </p>
          <p>Date:{{book_data.day}} {{book_data.date}} </p>
          <p>Time: </p>
          Price:
          <button mat-raised-button (click)="host_meeting()">Confirm Meeting</button>
      </h3>
        </div>
      </div>
      